name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/port-demo-app:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/port-demo-app:latest

      - name: Run container
        run: |
          docker run -d \
            -p 8081:8000 \
            -e APP_PORT=8000 \
            --name port-demo-test \
            ${{ secrets.DOCKERHUB_USERNAME }}/port-demo-app:latest

      - name: Health check
        run: |
          sleep 5
          curl http://localhost:8081/health
