name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push-test:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: naveen1419/port-demo-app:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}

      - name: Run container
        run: |
          docker run -d \
            -p 8081:8000 \
            -e APP_PORT=8000 \
            --name port-demo-test \
            ${{ env.IMAGE_NAME }}

      - name: Health check
        run: |
          sleep 5
          curl http://localhost:8081/health
